.sliverImage {
    width: 100%;
    height: 200px;
    border-color: #F13E2E;
    border-width: 6px;
    border-style: inset;
    padding: 0px 0px 0px 0px;
}

.navbar {
    background-image: linear-gradient(#BB2402, #F13E2E);
    margin-right: 15px;
}

h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-bottom: 15px;
}

.jumbotron {
    background-image: linear-gradient( #F13E2E, #E1F12E);
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.breaker { 
    display: block;
    margin: 0px 15px 0px 0px;
    overflow: hidden;
    border-style: outset;
    border-width: 10px;
    border-color: #F13E2E;
}

.centralLine {
    text-align: center;
    float: right;
    justify-content: center;
}

.leftyLoosy {
    float: left;
    height: 100%;
}

.rightyTighty {
    float: right;
    height: 100%;
}

.extraTitles {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-style: bold;
    font-size: 30px;
}

.smallPicture {
    height: 75px;
    width: 100px;
    margin-bottom: 15px;
}